SECRET_KEY=

# Данные для входа в админ панель
ADMIN_LOGIN=
ADMIN_PSW=

# PostgresSQL текущая БД
POSTGRES_DB=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# PostgresSQL главная БД (для создания текущей БД)
POSTGRES_MAIN_DB=postgres
POSTGRES_MAIN_HOST=localhost
POSTGRES_MAIN_PORT=5432
POSTGRES_MAIN_USER=postgres
POSTGRES_MAIN_PASSWORD=

# Logging
LOG_LEVEL=DEBUG
LOG_FORMAT="[%(asctime)s] #%(levelname)-8s %(filename)s:%(lineno)d - %(name)s - %(message)s"
