{% extends 'admin/index.html' %}

{% block info %}
{{ super() }}

<main class="content">
  <h1>Панель управления</h1>
  <div class="cards">
    <div class="card">
      <h2>Всего пользователей</h2>
      <p class="number">{{ count_users }}</p>
    </div>
    <div class="card">
      <h2>Товары на сайте</h2>
      <p class="number">{{ count_products }}</p>
    </div>
    <div class="card">
      <h2>Завершенные заказы</h2>
      <p class="number">{{ count_completed_order }}</p>
    </div>
    <div class="card">
      <h2>Доход за месяц</h2>
      <p class="number">{{ income_per_week | money }} ₽</p>
    </div>
  </div>

  <section class="recent-orders">
    <h2>Последние заказы</h2>
    <table>

        <thead>
        <tr>
            <th>№ заказа</th>
            <th>Пользователь️️</th>
            <th>Дата</th>
            <th>Стоимость заказа</th>
            <th>Метод оплаты</th>
            <th>Способ получения</th>
            <th>Адрес</th>
            <th>Комментарий</th>
            <th>Статус⬆️⬇️</th>
        </tr>
      </thead>
      <tbody>
        {% if last_orders %}
            {% for ord, user in last_orders %}
                <tr data-order-id="{{ ord.id }}" data-order-url="{{ url_for('admin.order', order_id=0) }}">
                    <td>{{ ord.id }}</td>
                    <td>{{ user.surname }} {{ user.name }}</td>
                    <td>{{ ord.updated_at | datetime('%d.%m.%Y %H:%M:%S') }}</td>
                    <td>{{ ord.total_amount | money }} ₽</td>
                    <td>{{ ord.payment_method }}</td>
                    <td>{{ ord.shipping_method }}</td>
                    <td>
                        {% if ord.shipping_address %}
                            {{ ord.shipping_address }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if ord.comment %}
                            {{ ord.comment }}
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        <span class="status
                        {{ 'success' if ord.status == 'Оплачен' else 'warning' if
                        ord.status == 'Забронирован' else 'error' }}">
                            {{ ord.status }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
      </tbody>


    </table>
  </section>
</main>
{% endblock %}